@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-nunito bg-light pt-[110px];
}

@layer base {
  h1 {
    @apply text-ui_bold_32 md:text-ui_bold_44 mb-5 md:mb-10 xl:mb-20 font-comfortaa;
  }
  h2 {
    @apply text-ui_bold_18 md:text-ui_bold_20 xl:text-ui_bold_28 mb-4 md:mb-8 xl:mb-14 font-comfortaa;
  }
  p {
    @apply text-ui_reg_18 md:text-ui_reg_20 xl:text-ui_reg_28 font-nunito;
  }
  span {
    @apply text-ui_light_16 md:text-ui_light_18 xl:text-ui_light_20;
  }
  input:-internal-autofill-selected {
    @apply !bg-white;
  }
  input {
    @apply !bg-white;
  }
  input:-webkit-autofill {
    background-color: #fff !important;
  }
}

@layer components {
  .section {
    @apply py-20;
  }

  .base-transition {
    @apply transition !duration-300 ease-in-out;
  }

  .base-button {
    @apply bg-blue rounded text-white hocus:bg-navy-blue py-4 px-5 min-w-[140px] max-w-fit flex items-center justify-center base-transition cursor-pointer disabled:cursor-default disabled:hocus:bg-blue border-[1px] !border-blue hocus:border-navy-blue;
  }

  .btn-outline {
    @apply base-button !bg-transparent hocus:!bg-white border-[1px] !border-blue text-blue;
  }
  .base-input {
    @apply relative flex flex-col w-full min-h-[48px] items-center justify-center gap-x-8 transition-all font-nunito text-ui_light_16;
  }
  .submit-button:disabled {
    @apply btn-outline pointer-events-none;
  }
  .nav-button {
    @apply flex items-center justify-center gap-x-5 transition-colors hocus:text-navy-blue relative z-10 base-transition duration-300;
  }
  .nav-button-active {
    @apply nav-button text-blue pointer-events-none;
  }
}

.base-shadow {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

/* DAY PICKER */
.datePicker .rdp-day_button {
  @apply max-md:!h-9 max-md:!w-9;
}
.datePicker .rdp-day {
  @apply hover:bg-light  base-transition;
}
.datePicker .rdp-weekday {
  @apply max-md:!h-9 max-md:!w-9;
}
.datePicker .rdp-chevron {
  fill: #006494 !important;
}
.datePicker .rdp-caption_label {
  @apply text-ui_reg_16;
}
.datePicker .rdp-dropdowns {
  @apply h-auto;
}
.datePicker .rdp-dropdown_root {
  @apply hover:cursor-pointer;
}

/* MULTISELECT */
.react-select__control {
  @apply !border-transparent;
}
.react-select__value-container {
  @apply !px-4 !pt-1 !pb-1 min-h-[48px] bg-white;
}
.react-select__input {
  @apply !bg-transparent;
}
.react-select__placeholder {
  @apply italic;
}
.react-select__multi-value {
  @apply !h-full;
}
.react-select__multi-value__label {
  @apply !font-nunito !text-ui_light_16 flex items-center;
}
.react-select__multi-value__remove {
  @apply w-[28px] flex items-center justify-center;
}
.react-select__menu {
  @apply !my-0;
}
.react-select__indicator {
  @apply hover:cursor-pointer;
}
